{{ $st := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $st.Params.author }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://sourcethemes.com/academic/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}

<div class="myDiv">
  <div style="vertical-align: middle;">

    {{ if .Site.Params.portrait.path }}
       <img src="{{ .Site.Params.portrait.path }}" class="circle" alt="{{ .Site.Params.portrait.alt }}" />
    {{ end }}

    {{ with $st.Title }}
      <h1>{{ . | markdownify | emojify }}</h1>
      <!-- <div class="myTitle">{{ . | markdownify | emojify }}</div> -->
    {{ end }}
    <br>
    {{- with $st.Params.subtitle }}
      <p>{{ . | markdownify | emojify }}</p>
    {{- end }}
    {{- with site.Params.nickname }}
      <p>({{ . | markdownify | emojify }})</p>
    {{- end }}

    {{- with site.Params.social }}
      <div>
        {{ partial "social-icons.html" . }}
      </div>
    {{- end }}

  </div>
</div>
